body{
 font-family: monospace, arial;
}

h1 {
  color: #000;
}

h2 {
  color: #999;
}

h3 {
  text-transform: uppercase;
}

p {
  font-size: 14;
}

#top {
  margin: auto;
  text-align: center;
}

.container {
  display: flex;
  flex-wrap: wrap;
}

.container > div {
  margin: auto;
  padding: 0;
  width: 600px;
}

img {
  border: 1px solid #000;
}



 /* @media use */

@media print {
    .screen-only {
        display: none;
    }
}
