body{
 font-family: monospace, arial !important;
}

#nav {
  margin: auto;
}

a.nav-link, a.btn, a.btn-primary {
  background: #67cab0;
  border: 0px;
}

a:link, a:visited, a:active {
  color: white;
  font-weight: bold;
}

a.nav-link:hover {
  color: white;
}

.nav-link {
  margin: 10px;
}

.jumbotron {
  color: white;
  background-color: #ffdb6a !important;
}

h1 {
  font-size: 48px !important;
}

h2 {
  font-size: 24px !important;
  text-transform: uppercase;
}

p {
  font-size: 14;
}

img {
  width: 90%;
  padding: 10px;
}

.nerd, .rockstar {
  width: 500px;
  margin: 20px;
}

table {
  width: 90%;
  text-align: left;
  margin: auto;
}

td {
  padding: 10px;
}

.footer {
  color: grey;
  font-size: 9px;
  padding: 40px;
}

 /* @media use */

@media print {
    .screen-only {
        display: none;
    }
}

@media (max-width: 600px) {
    img {
      width: 70%;
      min-width: 300px;
    }
    .nerd, .rockstar {
      padding-left: 40px;
    }
}
